*.cache
*.tlog
*.FileListAbsoute.txt
*.pyc
*.pdb
*GALib.dll
*GALibForm.dll
*IPyModeling.dll
*IPyModelingControl.dll
*LogUtilities.dll
*MLRPrediction.dll
*MultipleLinearRegression.dll
*VBControls.dll
*VBDatasheet.dll
*VBLocation.dll
*VBResiduals.dll
*VBStatistics.dll
*VBTools.dll
